<div class="container-fluid">
    <h1 class="text-center text-uppercase">Renderizando carrito: {{this.id}}</h1>
    <div class="container2" data-cartId="{{this.id}}"></div>
    {{#if this.products.length}}
        <div class="row mt-4">
            {{#each this.products}}
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body text-center">
                        <h5 class="card-title text-primary"><a href="/products/{{product._id}}">{{product.title}}</a></h5>
                        <p class="card-text">{{product.description}}</p>
                        <p class="card-text">Price: ${{product.price}}</p>
                        <p class="card-text">Cantidad: {{this.quantity}}</p>
                        <button class="btn btn-danger" data-product-id="{{product._id}}">Eliminar producto</button>
                    </div>
                </div>
            </div>
            {{/each}}
            <div class="text-center">
                <button class="btn btn-primary" onclick="finalizarCompra('{{this.id}}')">Comprar</button>
            </div>
        </div>
    {{else}}
        <h2 class="text-center text-uppercase">No hay productos en el carrito</h2>
    {{/if}}
    <div class="row mt-5" aria-label="Page navigation example">
        <ul class="col-md-12 justify-content-center pagination">
            {{#if this.hasPrevPage}}
            <li class="page-item">
                <a class="page-link bg" href="/products/?page={{this.prevPage}}&{{this.query}}">Atrás</a>
            </li>
            {{/if}}
            <h3 class="mx-3">{{page}}</h3>
            {{#if this.hasNextPage}}
            <li class="page-item">
                <a class="page-link" href="/products/?page={{this.nextPage}}&{{this.query}}">Siguiente</a>
            </li>
            {{/if}}
        </ul>
    </div>
</div>
<script src="/js/cart.js"></script>
