<div class=" m-4 card text-center">
    <div class="card-header">
        {{prod.title}}
    </div>
    <div class="card-body">
        <p class="card-text">{{prod.description}}</p>
        <p class="card-text">Price: ${{prod.price}}</p>
        <p class="card-text">Stock: {{prod.stock}}</p>
        <p class="card-text">Category: {{prod.category}}</p>
        <p class="card-text">code: {{prod.codes}}</p>
    </div>
</div>
