<div class=" m-4 card text-center">
    <div class="card-header">
        {{result.prod.title}}
    </div>
    <div class="card-body">
        <p class="card-text">{{result.prod.description}}</p>
        <p class="card-text">Price: ${{result.prod.price}}</p>
        <p class="card-text">Stock: {{result.prod.stock}}</p>
        <p class="card-text">Category: {{result.prod.category}}</p>
        <p class="card-text">code: {{result.prod.code}}</p>
    </div>
</div>
